.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #849cc4;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    text-align: center;
}

h1 {
    margin: 32px 0;
    color: white;
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
    border: 2px solid black;
}

.todo-input::placeholder {
    color: black;
}

.todo-button {
    padding: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    color: black;
    text-transform: capitalize;
}

.todo-input.edit {
    border: 2px solid #d0ddf2;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: white;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    border: 2px solid #d0ddf2;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}